<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Airports</title>
</head>
<body>
<div layout:fragment="content">
    <h1 align="center">Airport List</h1>
    <h2>Add Airport</h2>
    <form th:action="@{/airport/add}" th:object="${airportDetail}" method="post">
        <p>Id: <input type="text" th:field="*{id}"/></p>
        <p>Location: <input type="text" th:field="*{name}"/></p>
        <p>
            <button type="submit" class="btn btn-success"> Add
            </button>
        </p>
    </form>
    <br/>
    <table border="1" cellpadding="10" align="center">
        <thead>
        <tr>
            <th>Id</th>
            <th>Location</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${airports}">
            <td th:text="${item?.id}"></td>
            <td th:text="${item?.name}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</html>
